/* CSS File */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

* {
    box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #000000;
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 58px;
    margin-bottom: 20px;
}
p {
    line-height: 1.5;
}
img {
    max-width: 100%;
}


/*-- Basic layout --*/

.container {
	width: 1140px;
	margin: 0 auto;
}
.container:after,
.grid-wrapper:after,
.gallery-grid:after {
    content: "";
    clear: both;
    display: block;
}

#site-header {
	background-color: #6C29C0;
	padding: 15px 0;
}
.brand {
    float: left;
}
.navigation {
    float: right;
}
.navigation ul {
    list-style: none;
    float: left;
}
.navigation ul li {
    display: inline-block;
}
.navigation ul li a {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin: 26px 12px;
}
.navigation ul li a:hover {
    color: #F9B926;
}
.search-field {
    float: right;
    margin:  22px 0 22px 20px;
}
.btn-srch {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/*-- site banner started --*/
.heading-all {
    margin-bottom: 40px;
    text-align: center;
}
.heading-all h1 {
    margin-bottom: 15px;
}

#site-banner img {
    width: 100%;
    height: calc(100vh - 103px);
    object-fit: cover;
}
.welcome-section, .program-section, .gallery-section {
    padding: 70px 0;
    text-align: center;
}
.program-section {
    background-color: #6C29C0;
    color: #ffffff;
}
.program-section h1, .program-section p {
    color: #ffffff;
}


.grid-1 {
    width: calc(285px - 30px);
    margin: 0 15px;
    float: left;
}
.grid-3 {
    width: calc(570px - 30px);
    margin: 0 15px;
    float: left;
}
.program-item, .img-container {
    margin-bottom: 28px;
}
.program-item, .text-container h2 {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 10px;
}
.program-item, .text-container p {
    font-size: 22px;
    line-height: 32px;
}

/*-- gallery grid --*/
.gallery-section {
    padding-bottom: 0;
}
.gallery-grid {

}
.gallery-item {
    width: calc(100% / 7);
    float: left;
}
.gallery-item img {
    width: 100%;
    height: 170px;
    object-fit: cover;
}

/*-- site-footer start --*/
#site-footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 50px 0;
}
.social-media h4 {
    font-size: 22px;
    color: #ffffff;
}
.social-media ul {
    list-style: none;
}
.social-media ul li {
    display: inline-block;
    margin: 0 5px;
}
.copyright {
    margin-top: 30px;
}
.copyright a {
    color: #F9B926;
    text-decoration: none;
}

